
  .seller-bg {
    background-image: url('../../../../public/seller.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .buyer-bg {
    background-image: url('../../../../public/buyer.webp');
    background-size: cover;
    background-position: center;
  }
  
  .glass-card {
    background: rgba(70, 70, 70, 0.4); /* Semi-transparent dark background */
    border-radius: 20px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px); /* For Safari */
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 2rem;
    color: white;
    box-shadow: 0 4px 30px rgba(29, 29, 29, 0.5);
  }
  